# Python
__pycache__/
venv/
*.pyc

# Virtual environment
/venv/
/env/
.venv/
.env/

# IDE and editor folders
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# Build artifacts
build/
dist/
*.egg-info/